/* layout */
html {
  font-weight: medium;
  line-height: 1.4;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 5em;
  margin-bottom: 0.3em;
  word-break: break-all; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0.3em; }
  h1 .source-link, h2 .source-link, h3 .source-link, h4 .source-link, h5 .source-link, h6 .source-link {
    float: right;
    font-size: small; }

.doc-entry {
  margin-top: 2em;
  margin-bottom: 2em; }

.title {
  text-align: center; }
  .title h1 {
    margin: 0em; }

.table-of-contents {
  word-break: break-all; }
  .table-of-contents .source-link {
    display: none; }
  .table-of-contents ol {
    padding-left: 1em; }

.main img {
  display: inline-block;
  max-width: 100%; }

.footer {
  text-align: center; }

/* zoom out */
@media all and (min-width: 64.4em) {
  body .page-header {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 17em;
    height: 100%;
    vertical-align: top; }
    body .page-header .title {
      padding: 0.5em; }
    body .page-header .table-of-contents {
      padding: 0.5em;
      height: 100%; }
  body .main {
    position: absolute;
    left: 21em;
    width: 50em;
    margin: 0em 1em 0em 1em;
    padding: 1em; }
  body .footer {
    position: fixed;
    left: 0em;
    bottom: 0em;
    width: 17em;
    padding: 0.5em 0em 0.5em 0em; } }
/* zoom in */
@media all and (max-width: 64.4em) {
  body {
    text-align: center; }
    body .title, body .table-of-contents, body .main, body .footer {
      margin: 0.5em 0.5em 0.5em 0.5em;
      padding: 0.5em;
      display: inline-block;
      text-align: left;
      float: center;
      width: 40em; } }
/* markup */
/* font, style */
html {
  background: #0d0d0d;
  color: gray;
  font-family: "Inconsolata"; }

h1, h2, h3, h4, h5, h6, b, emph, strong {
  color: orange;
  font-family: "Raleway"; }

a {
  text-decoration: none;
  color: palegreen; }

.title {
  background: #1a1a1a; }

.main {
  background: #1a1a1a; }
  .main .missing {
    color: #333333;
    font-style: italic; }
  .main .docstring {
    margin-left: 1em; }

.table-of-contents {
  background: #1a1a1a; }

.directory:before {
  content: "Directory";
  color: #333333;
  margin-right: 0.3em; }
.directory:after {
  content: "/";
  color: #333333;
  margin-left: 0.1em; }

.file:before {
  content: "File";
  color: #333333;
  margin-right: 0.3em; }

.extension {
  color: #333333; }
  .extension:before {
    content: "."; }

.span {
  display: inline; }

.doctype {
  color: gray; }
  .doctype:first-child:before {
    content: none; }
  .doctype:before {
    content: ",";
    margin-right: 0.3em; }

.name:first-child:before {
  content: ":";
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: gray; }
.name:before {
  content: ",";
  margin-right: 0.3em; }

.package {
  font-size: 0.7em;
  color: palegreen;
  float: right;
  margin-right: 1em; }
  .package:before {
    content: "Package:";
    margin-right: 0.3em;
    font-style: italic;
    color: gray; }

.args {
  margin-top: 0em;
  margin-left: 3em;
  font-size: 0.7em;
  color: orange;
  display: block;
  font-family: "Ubuntu"; }
  .args:before {
    content: "Args:";
    margin-right: 0.3em;
    font-style: italic;
    color: gray; }

code {
  color: magenta;
  background: #333333;
  border-color: gray;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  padding: 3px; }
  code a {
    color: inherit; }

pre {
  color: magenta;
  background: #333333;
  border-color: gray;
  margin: 2px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  padding: 1em; }
  pre code {
    border: none;
    padding: 0; }

td {
  vertical-align: top; }

:not(.static-file) > .docstring h1, :not(.static-file) > .docstring h2, :not(.static-file) > .docstring h3, :not(.static-file) > .docstring h4, :not(.static-file) > .docstring h5, :not(.static-file) > .docstring h6 {
  margin-top: 1em; }
:not(.static-file) > .docstring h1 {
  font-size: 120%; }
:not(.static-file) > .docstring h2 {
  font-size: 110%; }
:not(.static-file) > .docstring h3 {
  font-size: 100%; }
:not(.static-file) > .docstring h4 {
  font-size: 90%; }
:not(.static-file) > .docstring h5 {
  font-size: 80%; }
:not(.static-file) > .docstring h6 {
  font-size: 70%; }

.footer {
  background: #333333; }
  .footer:after {
    color: orange;
    font-family: "Raleway";
    font-weight: bold;
    content: "Generated by EAZY-DOCUMENTATION"; }

div.sourceCode {
  overflow-x: auto; }

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none; }

table.sourceCode {
  width: 100%;
  line-height: 100%; }

td.lineNumbers {
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #dddddd; }

td.sourceCode {
  padding-left: 5px; }

.sourceCode {
  color: #a0a0a0;
  /* Keyword */
  /* DataType */
  /* DecVal */
  /* BaseN */
  /* Float */
  /* Char */
  /* String */
  /* Comment */
  /* Alert */
  /* Function */
  /* Error */
  /* Warning */
  /* Constant */
  /* SpecialChar */
  /* VerbatimString */
  /* SpecialString */
  /* Import */
  /* Variable */
  /* ControlFlow */
  /* Operator */
  /* BuiltIn */
  /* Extension */
  /* Preprocessor */
  /* Attribute */
  /* Documentation */
  /* Annotation */
  /* CommentVar */
  /* Information */ }
  .sourceCode span.kw {
    color: palegreen; }
  .sourceCode span.dt {
    color: orange; }
  .sourceCode span.dv {
    color: orange; }
  .sourceCode span.bn {
    color: orange; }
  .sourceCode span.fl {
    color: orange; }
  .sourceCode span.ch {
    color: orange; }
  .sourceCode span.st {
    color: #ffc966; }
  .sourceCode span.co {
    color: #6d6d6d;
    font-style: italic; }
  .sourceCode span.al {
    color: #f50000;
    font-weight: bold; }
  .sourceCode span.fu {
    color: aqua; }
  .sourceCode span.er {
    color: red;
    font-weight: bold; }
  .sourceCode span.wa {
    color: #fa0000;
    font-weight: bold; }
  .sourceCode span.cn {
    color: white; }
  .sourceCode span.sc {
    color: #ff00ff; }
  .sourceCode span.vs {
    color: #ffc966; }
  .sourceCode span.ss {
    color: #ffc966; }
  .sourceCode span.pp {
    font-weight: bold; }
  .sourceCode span.do {
    color: #808080;
    font-style: italic; }
  .sourceCode span.an {
    color: #808080;
    font-weight: bold;
    font-style: italic; }
  .sourceCode span.cv {
    color: #808080;
    font-weight: bold;
    font-style: italic; }
  .sourceCode span.in {
    color: #808080;
    font-weight: bold;
    font-style: italic; }

/*# sourceMappingURL=default.css.map */
